.cart {
  width: 95%;
  background: rgba(255, 255, 255, 0.8);
  padding: 2%;
  border-radius: 25px;
}

.amount {
  display: flex;
  justify-content: space-between;
  padding-left: 7%;
}
.button-btn {
  width: 19%;
  padding: 2%;
  text-align: center;
  float: right;
  padding-right: 50%;
  display: flex;
}
